.btn {
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;
  align-items: center;
  border: none;
  cursor: pointer;
  @include text-base;

  &-primary {
    background-color: $btn-primary;
    color: $white;
    transition: all 0.2s ease;

    &:hover {
      background-color: $btn-primary-hover;
    }
  }

  &-secondary {
    background-color: $btn-secondary;
    color: $black;
    transition: all 0.2s ease;

    &:hover {
      background-color: $btn-secondary-hover;
    }
  }

  &-small {
    padding: 0.375rem 0.5rem;
    @include text-small;
  }
}
