.card {
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 0.625rem;

  .card-img-content {
    .btn-secondary {
      box-shadow: $box-shadow;
    }
  }

  .card-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    .title {
      @include title-h2;
    }

    .content {
      @include text-base;
    }
  }
}
