.cookie {
  background-color: $white;
  border-radius: 0.75rem;
  box-shadow: $box-shadow;
  padding: 1rem;
  color: $black;

  @media screen and (max-width: $sm) {
    right: 0.75rem;
    left: 0.75rem;
  }

  .cookie-content {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      @include title-h2;
    }

    .content {
      @include text-small;
    }
  }
}
