.header {
  background: $white;
  width: 100%;

  &-content {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-content-part1 {
      display: flex;
      gap: 1.5rem;

      button {
        border: none;
        background: transparent;
        cursor: pointer;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .logo {
        @include logo;
        text-decoration: none;
      }
    }

    .header-content-part2 {
      display: flex;
      gap: 1.5rem;

      @media screen and (max-width: $md) {
        gap: 0.75rem;
      }
    }
  }
}
