<div class="col-lg-4 col-6">
  <div class="card">
    <div class="card-img-content">
      <img class="card-img" src="{{ img }}?as=webp&width=900" alt="" />
      <!-- Le bouton est lié à l'image et doit se situer dans son coin supérieur droit -->
      <button type="button" class="btn btn-secondary btn-small">
        Favourite
      </button>
    </div>
    <div class="card-content">
      <h3 class="title">{{ title }}</h3>
      <p class="content">{{ description }}</p>
    </div>
  </div>
</div>
