* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
