// General colors
$white: #fff;
$black: #000;

// Variables linked to button
$btn-primary: #000;
$btn-primary-hover: rgb(40, 40, 40);
$btn-secondary: rgb(243, 243, 243);
$btn-secondary-hover: rgb(221, 221, 221);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;

// Box-shadow
$box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
